<h2 style="text-align: center;background-color: chartreuse;">Welcome to Digital Books App</h2>

<div class="card text-cent">
    <div class="card-header">
        <ul class = "nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" style="background-color: rgb(0, 255, 221);" routerLink="/addaccount" 
          href="#">Signup</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" style="background-color: rgb(0, 255, 115);" routerLink=""
           href="#">Home/Signin</a>
        </li>
        <li class="nav-item"> 
            <a class="nav-link" style="background-color: rgb(0, 255, 115);" routerLink="/addBook"
             href="#">Create Book</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" style="background-color: rgb(0, 255, 115);" routerLink="/getBooks"
             href="#">Get All Books</a>
          </li>

        </ul>
</div>

