
<ul class = "list-group">
    <li *ngFor = "let s of book; index as i" class="list-group-item">
        <span>
            name:{{s.image}},
        </span>
        <span>
            Title:{{s.tiltle}},
        </span>
        <span>
            category:{{s.category}},
        </span>
        <span>
            price:{{s.price}},
        </span>
        <span>
            author:{{s.author}},
        </span>
        <span>
            publisher:{{s.publisher}},
        </span>
        <span>
            publishedDate:{{s.publishedDate}},
        </span>
        <span>
            content:{{s.content}},
        </span>
        <span>
            active:{{s.active}}
        </span>
       <br>
       
    </li>
</ul>
